<html>
<head>
<title>portal login</title>
</head>
<body>

<h1>Portal login</h1>

<form action="/authenticate" target="_self" method = "post">
<label for ="rol">Roll no:</label><br>
<input type ="text" id=rol name=rol><br>
<label for="pass">Password:</label><br>
<input type ="password" id=pass  name=pass><br><br><pre>
<input type="submit" style="color:white;background-color:powderblue; border-radius:20px; border-color:powderblue" value = "submit">   <a href = "http://localhost:5000/static/signup.htm">sign up</a><br></pre>
</form>

</body>
</html>